body{
    background-color: white;
}

.hero{
    height: 100px;
    background-color: #f9f9f9;
}

.footer-brand{
    background-color: #f9f9f9;
}
header, .copyright{
    background-color: #050557 !important;
}

h1{
    font-size: 40px !important;
    color: #050557 !important;
    text-transform: capitalize;
}

.title-prod{
    color: #050557;
}

.btn-azul{
    background-color: #050557;
}
li{
    text-decoration: none;
    list-style: none !important;
}